<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orz.mmp.app.dao.AppCategoryMapper">
    <select id="getAppCategoryListByParentId" resultType="orz.mmp.app.pojo.AppCategory">
        select id,categoryCode,categoryName from app_category
        <trim prefix="where" prefixOverrides="and | or">
            <if test="parentId != null">
                and parentId = #{parentId}
            </if>
            <if test="parentId == null">
                and parentId is null
            </if>
        </trim>
    </select>
    <select id="getAppCategoryAllByParentId" resultType="orz.mmp.app.pojo.AppCategory">
        select id,categoryCode,categoryName from app_category
        <trim prefix="where" prefixOverrides="and | or">
            <if test="integer != null and integer=='true'">
                and parentId in ('1','2')
            </if>
            <if test="integer != null and integer=='false'">
                and parentId not in ('1','2')
            </if>
            <if test="integer == null">
                and parentId is null
            </if>
        </trim>
    </select>
</mapper>