<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orz.mmp.app.dao.DataDictionaryMapper">
    <resultMap id="dataDictionary" type="orz.mmp.app.pojo.DataDictionary">
        <id column="id" property="id"/>
        <result column="typeCode" property="typeCode"/>
        <result column="typeName" property="typeName"/>
        <result column="valueId" property="valueId"/>
        <result column="valueName" property="valueName"/>
        <result column="createdBy" property="createdBy"/>
        <result column="creationDate" property="creationDate"/>
        <result column="modifyBy" property="modifyBy"/>
        <result column="modifyDate" property="modifyDate"/>
    </resultMap>
</mapper>